<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:replace="layouts :: header"></head>
<body>
<nav th:replace="layouts :: navbar"></nav>
<div class="container">
    <form action="/employee/save" th:object="${employee}" method="post">

        <input type="text" placeholder="Employee First name" th:field="${employee.firstName}">
        <input type="text" placeholder="Employee Last name" th:field="${employee.lastName}">
        <input type="text" placeholder="Employee email address" th:field="${employee.email}">

        <button type="submit">Create employee</button>


    </form>


</div>
</body>
</html>